body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    /*
    Medidas Absolutas:
    cm, mm, in, px(recomendado), pt, pc

    Medidas Relativas:
    em(recomendado), ex, rem, vw, vh, %
    */
    font-weight: normal;
    /*
    tipos de peso:
    lighter, normal, bold, bolder e 100-900(numérico)
    */
}

h1{
    font: italic bolder 3em sans-serif;
    /*
    shorthand font:
    font-style -> font-weight -> font-size -> font-family
    */
}